:root {
  --clr-pink: #e9204f;
  --clr-gray: #232831;
  --font: "Raleway", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url("./images/hero_02.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  color: white;
}

.navbar {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background: black;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li a {
  /* color: white; */
  text-decoration: none;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 35px;
  cursor: pointer;
  font-size: 24px;
  /* color: white; */
}

/* display on smaller screens */
.active {
  display: block;
}

.search {
  margin-left: 20px;
}

header {
  margin: 10px;
  margin-top: 80px;
}

header h1 {
  font-size: 3rem;
}

.horizontal-line {
  display: block;
  border: 2px solid var(--clr-pink);
  width: 43px;
  margin-bottom: 30px;
}

.main__container {
  margin: 20px;
}

.getting-started {
  border: 2px solid var(--clr-pink);
  margin-top: 50px;
  width: 200px;
  height: 50px;
  color: white;
  background: black;
  font-family: var(--font);
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.card__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.card {
  background: var(--clr-gray);
  height: 300px;
  margin: 20px;
}

.card:hover {
  background: var(--clr-pink);
}

.card .horizontal-line {
  margin-top: 10px;
}

.fas {
  font-size: 35px;
  padding-bottom: 30px;
  color: var(--clr-pink);
}

.card article {
  margin: 30px;
}

.services {
  padding: 100px;
  background: white;
  color: black;
}

/* bigger screen */
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
    color: white;
  }

  .logo {
    margin-top: 0;
  }

  /* does not display toggle on larger screens */
  .navbar-toggle {
    display: none;
  }
}
